
.field-type-baidumap-field .field-item {
  margin-bottom: 5px;
  margin-top: 5px;
}

.baidumap_field_left40pc {
  float: left;
  width: 40%;
}

.baidumap_field_left60pc {
  float: left;
  width: 60%;
}

#baidumap_picker {
  height: 350px;
  width: 100%;
}

.baidumap_field_display {
  height: 300px;
  width: 100%;
}
